* {
  box-sizing: border-box;
}
.product-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  height: fit-content;
  border-bottom: 1px solid rgb(200, 198, 198);
  border-top: 1px solid rgb(200, 198, 198);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.product-side-images {
  flex-direction: column;
  display: flexbox;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-top: 10rem;
  width: 5rem;
  height: fit-content;
}
.first-sideimagebox {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-block: 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
  object-fit: cover;
}
.second-sideimagebox {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-block: 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
  object-fit: cover;
}
.third-sideimagebox {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-block: 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
  object-fit: cover;
}

.first-sideimagebox:hover,
.second-sideimagebox:hover,
.third-sideimagebox:hover {
  border: 5px solid rgb(37, 232, 69);
}

.rating-section {
  border-bottom: 1px solid gainsboro;
}

.imagebox img {
  object-fit: contain;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.detailsbox {
  margin-left: 2rem;
  margin-right: 0;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .detailsbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    padding-top: 2rem;
  }
  .availabilitybox {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .col-md-8 .col-2 {
    margin: 0;
    padding: 0;
  }
  .col-md-8 .col-8 {
    margin: 0;
    padding: 0;
    margin-top: 5px;
  }
  .top-review-section .col-md-8 {

    align-items: center;
    justify-content: center;
  }
}

.availabilitybox {
  border: 2px solid gainsboro;
  width: 15rem !important;
  border-radius: 10px;
  height: fit-content;
}

.price-shipping {
  margin-bottom: 15px;
}

.quantity-section {
  margin-bottom: 15px;
}

.quantity-section select {
  width: 100%;
}

button.w-100 {
  width: 100%;
}

.action-buttons button {
  width: 100%;
}

/* thumbnail csss  */
.imagebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.about {
  margin-top: 2rem;
  border-top: 1px solid rgb(200, 198, 198);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
